<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">.b1{white-space-collapsing:preserve;}
.b2{margin: 1.0in 1.25in 1.0in 1.25in;}
.s1{font-family:宋体;font-size:28pt;font-weight:bold;color:red;}
.s2{font-weight:bold;}
.s3{color:red;}
.s4{display: inline-block; text-indent: 0; min-width: 0.25in;}
.p1{text-align:center;hyphenate:auto;font-family:Times New Roman;font-size:10pt;}
.p2{text-align:center;hyphenate:auto;font-family:仿宋_GB2312;font-size:16pt;}
.p3{margin-top:0.21666667in;margin-bottom:0.21666667in;text-align:justify;hyphenate:auto;font-family:宋体;font-size:16pt;}
.p4{text-indent:0.44444445in;text-align:justify;hyphenate:auto;font-family:仿宋_GB2312;font-size:16pt;}
.p5{text-indent:0.44444445in;margin-left:0.29166666in;text-align:start;hyphenate:auto;font-family:仿宋_GB2312;font-size:16pt;}
.p6{text-align:center;hyphenate:auto;font-family:宋体;font-size:12pt;}
.p7{text-indent:0.33333334in;margin-left:0.29166666in;text-align:center;hyphenate:auto;font-family:宋体;font-size:12pt;}
.p8{text-align:justify;hyphenate:auto;font-family:Times New Roman;font-size:10pt;}
.td1{width:0.59166664in;padding-start:0.075in;padding-end:0.075in;border-bottom:thin solid black;border-left:thin solid black;border-right:thin solid black;border-top:thin solid black;}
.td2{width:0.46805555in;padding-start:0.075in;padding-end:0.075in;border-bottom:thin solid black;border-left:thin solid black;border-right:thin solid black;border-top:thin solid black;}
.td3{width:0.7152778in;padding-start:0.075in;padding-end:0.075in;border-bottom:thin solid black;border-left:thin solid black;border-right:thin solid black;border-top:thin solid black;}
.td4{width:0.46458334in;padding-start:0.075in;padding-end:0.075in;border-bottom:thin solid black;border-left:thin solid black;border-right:thin solid black;border-top:thin solid black;}
.td5{width:0.59097224in;padding-start:0.075in;padding-end:0.075in;border-bottom:thin solid black;border-left:thin solid black;border-right:thin solid black;border-top:thin solid black;}
.td6{width:0.5902778in;padding-start:0.075in;padding-end:0.075in;border-bottom:thin solid black;border-left:thin solid black;border-right:thin solid black;border-top:thin solid black;}
.td7{width:0.68958336in;padding-start:0.075in;padding-end:0.075in;border-bottom:thin solid black;border-left:thin solid black;border-right:thin solid black;border-top:thin solid black;}
.td8{width:0.6888889in;padding-start:0.075in;padding-end:0.075in;border-bottom:thin solid black;border-left:thin solid black;border-right:thin solid black;border-top:thin solid black;}
.td9{width:0.52708334in;padding-start:0.075in;padding-end:0.075in;border-bottom:thin solid black;border-left:thin solid black;border-right:thin solid black;border-top:thin solid black;}
.r1{keep-together:always;}
.t1{table-layout:fixed;border-collapse:collapse;border-spacing:0;}
</style>
<meta content="Dummy" name="author">
</head>
<body class="b1 b2">
<p class="p1">
<span class="s1"> </span>
</p>
<p class="p1"></p>
<p class="p2">
<span>交通运行监测中心   </span><span class="s2">     </span><span>          </span><span class="s2"> 2021</span><span>年9月</span>
</p>
<p class="p3">
<span class="s2">【网络安全基本态势分析】</span>
</p>
<p class="p4">
<span>2021年9月，行业网络安全状况整体评价为中。威胁事件分布图如下：</span>
</p>
<p class="p4">
<span>总计共遭受攻击事件数量</span><span class="s3">145821例</span><span>，其中攻击成功事件数量</span><span class="s3">2457例</span><span>；其中遭受到攻击的服务器2567个、终端2781个，</span>
</p>
<p class="p4">
<span>2021年9月感染到网络病毒的终端227个、服务器36个。</span>
</p>
<p class="p4">
<span>2021年9月门户网站共遭受攻击事件</span><span class="s3">39例</span><span>，攻击成功事件</span><span class="s3">19例</span><span>。</span>
</p>
<p class="p4">
<span>2021年9月发现终端漏洞共137个,其中高危漏洞40个,中危漏洞45个,低危漏洞52个。服务器资产漏洞共1287个。其中高危漏洞302个，中危漏洞630个，低危漏洞355个。</span>
</p>
<p class="p4">
<span>2021年9月信息安全事件有：恶意代码涉及事件</span><span class="s3">29095例</span><span>，成功事件</span><span class="s3">1338例</span><span>，涉及资产5173个；拒绝服务攻击共涉及事件</span><span class="s3">0例</span><span>，成功事件</span><span class="s3">0例</span><span>，涉及资产0个；漏洞攻击共涉及事件</span><span class="s3">488例</span><span>，成功事件</span><span class="s3">0例</span><span>，涉及资产123个；扫描探测共涉及事件</span><span class="s3">2593例</span><span>，成功事件</span><span class="s3">63例</span><span>，涉及资产910个；其他攻击共涉及事件</span><span class="s3">113645例</span><span>，成功事件</span><span class="s3">1056例</span><span>，涉及资产5567个。</span>
</p>
<p class="p3">
<span class="s2">【网络安全主要数据】</span>
</p>
<p class="p5">
<span class="s4">1.​&nbsp;</span><span class="s2">僵尸、木马、蠕虫、病毒事件监测情况</span>
</p>
<p class="p4">
<span>9月份,监测平台发现疑似已经感染僵尸、木马、蠕虫、病毒的服务器36个、终端227个。</span>
</p>
<p class="p1">
<img src="/img/file/1668589587870-370/16685895879210.png" style="width:4.634028in;height:2.4534721in;vertical-align:text-bottom;"></p>
<p class="p6">
<span>本月与上月事件危害等级占比统计对比</span>
</p>
<p class="p1">
<img src="/img/file/1668589587870-370/16685895879223144.png" style="width:4.8402777in;height:2.7604167in;vertical-align:text-bottom;"></p>
<p class="p7">
<span>本月与上月事件类型占比统计对比</span>
</p>
<p class="p4">
<span>受恶意攻击主机列表</span>
</p>
<table class="t1">
<tbody>
<tr class="r1">
<td class="td1">
<p class="p8">
<span>名称</span>
</p>
</td><td class="td2">
<p class="p8">
<span>价格</span>
</p>
</td><td class="td3">
<p class="p8">
<span>描述</span>
</p>
</td><td class="td1">
<p class="p8">
<span>下单日期</span>
</p>
</td><td class="td4">
<p class="p8">
<span>数量</span>
</p>
</td><td class="td5">
<p class="p8">
<span>总金额</span>
</p>
</td><td class="td6">
<p class="p8">
<span>用户</span>
</p>
</td><td class="td7">
<p class="p8">
<span>电话</span>
</p>
</td><td class="td8">
<p class="p8">
<span>地址</span>
</p>
</td><td class="td9">
<p class="p8">
<span>交易状态</span>
</p>
</td>
</tr>
<tr class="r1">
<td class="td1">
<p class="p8"></p>
</td><td class="td2">
<p class="p8"></p>
</td><td class="td3">
<p class="p8"></p>
</td><td class="td1">
<p class="p8"></p>
</td><td class="td4">
<p class="p8"></p>
</td><td class="td5">
<p class="p8"></p>
</td><td class="td6">
<p class="p8"></p>
</td><td class="td7">
<p class="p8"></p>
</td><td class="td8">
<p class="p8"></p>
</td><td class="td9">
<p class="p8"></p>
</td>
</tr>
</tbody>
</table>
<p class="p8"></p>
</body>
</html>
